.container{
	display: grid;
	grid-template-columns: 1000px;
	grid-template-rows: 60px 850px 60px;
	width: 1000px;
	margin:0 auto;
	height: 100vh !important;
}
nav{
	background-color:#404040;
	border-radius: 50px;
}
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	list-style-type: none;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.subMenu{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	background-color: #404040;
	border-radius: 10px;
	width: 150px;
	transition: .2s ease-in-out;
	z-index: 1;
}
.valSubMenu{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	background-color: #404040;
	border-radius: 10px;
	width: 150px;
	transition: .2s ease-in-out;
	z-index: 1;
	display: inline-block;
}
.liValorant:hover .valSubMenu {
	visibility: visible;
	opacity: 1;
}
.liValorant .fa-sort-down{
	transition: ease 0.1s;
	margin-left: 3px;
}
.liValorant:hover .fa-sort-down{
	transform: rotate(-90deg);
}
.firstUL > li:nth-of-type(1){
	margin-right: 120px;
}
.firstUL > li{
	display: inline-block;
	margin-right: 20px;
	height: 60px;
	width: 150px;
}

a{
	color: white;
	line-height: 60px;
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: inline-block;
	text-align: center;
	border-radius: 10px;
	transition: ease 0.2s;
}

a:hover {
	background-color: #00b18a;
	color: #404040;
}

i{
	margin-right: 10px;
}
.liProjecten:hover .projecten{
	background-color: #00b18a;
	color: #404040;

}

.liProjecten:hover .subMenu{
	opacity: 1;
	visibility: visible;
}
.liProjecten:hover .VIES{
	opacity: 1;
	visibility: visible;
}
.liProjecten {
	margin-bottom: 20px;
}
.projecten i{
	margin-left: 10px;
}

.projecten{
	cursor: default;
}
.content{
	position: relative;
	grid-column: 1/2;
	grid-row: 2/3;
	background-color: lightgray;
	border-radius: 50px;
	margin-top: 20px;
}
.VIES{
	visibility: hidden;
	height: 10px;
}

.listSpace{
	margin-bottom: 5px;
}

.subMenu a:hover{
	background-color: #8c8c8c;
}
#webName:hover{
	border-radius: 50px 0px 0px 50px;
	color: white;
	background-color: #006680;
}
#webName{
	border-radius: 50px 0px 0px 50px;
	background-color: #006680;
	font-weight: bold;
	width: 200px;
	margin-right: 30px;
}

.homeSide{
	margin-left: 10px;
}
#playButton, #resetButton{
	width: 100%;
	height: 50%;
	font-size: 20px;
	font-family: sans-serif;
	border-radius: 20px;
	border: #666666 solid 5px;
	outline: none;
	text-align: center;
	cursor: pointer;
	color: #fff;
	background-color: darkgray;
	border-radius: 15px;
	transition: ease-in-out 0.1s;
}

.cpsTester{
	width: 500px;
	height: 500px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%);
}				

#playButton:active{
	transform: translateY(4px);
	margin-top: 1px;
	box-shadow: 3px 3px darkgray;
	border: solid #4c4c4c 8px;
}


#timer, #cps, #score{
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
	font-weight: bold;
	margin: 15px 0px;
}

#cps{
	border-radius: 10px;
	color: #4d0000;
	border: solid #4d0000 5px;
	padding: 10px 0;
	display: none;

}

#resetButton{
	background-color: #660000;
	width: 30%;
	height: 10%;
	border: solid #4d0000 5px;
	display: none;
	margin-top: 10px;
}

.inlineBlock{
	display: inline-block;
}

#score{
	float: right;
}

.image{
	position: absolute;
	left: 0;
	top: 0;
	width: 500px;
	height: 415px;
	border-radius: 50px 0px 0px 0px;
}

.image2{
	position: absolute;
	width: 500px;
	height: 415px;
	border-radius: 0px 0px 50px 0px;
	right: 0;
	bottom: 0;
}

.text1{
	position: absolute;
	right: 0;
	top: 50px;
	margin-right: 40px;
	width: 400px;
	text-align: center;
	font-size: 18px;
	font-family: 'IBM Plex Mono', monospace;
}

.text2{
	text-align: center;
	color: #006680;
	font-size: 18px;
	position: absolute;
	left: 0;
	bottom: 50px;
	margin-left: 40px;
	width: 400px;
	font-family: 'IBM Plex Mono', monospace;
}

footer{
	font-size: 14px;
	margin: auto;
	grid-column: 1/2;
	grid-row: 3/4;
	margin-right: 20px;
	height: 30px;
	width: 1000px;
	background-color: #404040;
	border-radius: 50px;
	text-align: center;
	line-height: 30px;
	color: white;
}

.image2{
	background-color: blue;
}

body{
	background-color: #f5f5f5;
}

.timeButtons{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

.timeButtons h1{
	line-height: 80px;
}
.timeButtons button{
	background-color: #4c4c4c;
	border: #666666 solid 5px;
	margin: 40px;
	border-radius: 50px;
	outline: none;
	width: 80px;
	height: 80px;
	font-weight: bold;
	font-size: 19px;
	color: white;
}


#s10Button{
	border: solid #99ff99 5px;
}
/* -----------------------------HIER BEGINT DE TEAM MAKER CSS---------------------------*/

.teammakerContent .input1{
	/*transform: translate(-50%);
	position: absolute;
	top: 100px;
	left: 50%;*/
	width: 300px;
	height: 309px;
	outline: none;
	resize: none;
	float: left;
	padding: 10px;
	border-radius: 20px;

	
}

.teammakerContent #submit{
	position: absolute;
	outline: none;
	background-color: #4c4c4c;
	border-radius: 50px;
	font-weight: bold;
	font-size: 19px;
	width: 200px;
	height: 50px;
	color: white;
	left: 50%;
	transform: translate(-50%);
	top: 480px;
}

.teammakerContent h1{
	margin-top: 30px;
	text-align: center;
}

.teammakerContent #teamArea div {
	position: absolute;
	border: solid red 1px;
    top: 525px;
    font-size: 26px;
    text-align: center;
    background: darkgray;
    border-radius: 20px;
    padding: 20px;
    border: solid #666666 5px;
    color: #404040;
    width: 150px;
    overflow: hidden;

}


.teammakerContent #teamArea div:nth-of-type(1){
	left: 100px;
	
}
.teammakerContent #teamArea div:nth-of-type(2){
	right: 100px;
}

.teammakerContent h2{
	margin-bottom: 30px;
}
#teamArea{
	display: none;
}

.settings{
	width: 160px;
	border: solid 5px #404040;
	padding: 16px;
	border-radius: 20px;
	background-color: darkgray;
	color: #333333;
	float: right;
}
.settings h2 {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.settings h3 {
	border-bottom: 5px solid #404040;
	padding-bottom: 6px;
	margin-bottom: 16px;
	text-align: center;
	width: 100%;
}
.settings .buttonContainer {
	width: 100%;
	margin-bottom: 20px;
}
.settings button{
	background-color: #4c4c4c;
	border: #666666 solid 5px;
	border-radius: 50px;
	outline: none;
	width: 40px;
	height: 40px;
	font-weight: bold;
	font-size: 19px;
	color: white;
	cursor: pointer;
	display: inline-block;
	float: right;
}
.settings p {
	display: inline-block;
	font-size: 21px;
	height: 40px;
	line-height: 40px;
}
.centerContent {
	position: absolute;
	left: 50%;
	top: 100px;
	transform: translate(-50%);
	width: 550px;
}
.centerContent * {
	display: inline-block;
}
#errorMsg {
	display: none;
	position: absolute;
	bottom: 100px;
	left: 50%;
	transform: translate(-50%);
	padding: 20px;
	font-size: 26px;
	border: solid #660000 5px;
	border-radius: 20px;
	color: #660000;
	font-weight: bold;
	text-align: center;
	z-index: 2;
	background-color: lightgray;
}
